<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link href="/stylesheets/signin.css" rel="stylesheet">
</head>

<main role="main" class="container">
    <body class="text-center">
    <form class="form-signin" method="post">
        <div class="rotate-n-15 mb-3">
            <i class="fas fa-4x fa-laugh-wink" style="color:#4e73df;"></i>
        </div>
        <h1 class="h3 mb-3 font-weight-normal">FDS</h1>
        <% if (isError === true) { %>
            <div class="alert alert-warning" role="alert">
                Incorrect user ID or password. Please try again.
            </div>
        <% } %>
        <input type="text" id="userId" name="userId" class="form-control" placeholder="User ID" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <select required class="custom-select form-control mb-3" name="role" id="roleSelect">
            <option selected disabled value="">Choose role...</option>
            <option value="customer">Customer</option>
            <option value="rider">Rider</option>
            <option value="restaurant">Restaurant</option>
            <option value="manager">Manager</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <button class="btn btn-link mb-2 mt-0 pt-0" data-toggle="modal" data-target="#signupModal">New user? Sign up now
    </button>

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Sign up as...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a class="btn btn-link" href="/signup/customer">Customer</a>
                <a class="btn btn-link" href="/signup/rider">Rider</a>
                <a class="btn btn-link" href="/signup/restaurant">Restaurant</a>
            </div>
        </div>
    </div>

    <%- include ('../partials/footer') -%>
    <%- include ('../partials/foot') %>
    </body>
</main>

</html>
