<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
</head>

<body>

<div class="d-flex" id="wrapper">
    <%- include ('../../partials/sidebar', {items: sidebarItems}) %>

    <div id="page-content-wrapper">
        <%- include ('../../partials/navbar') %>

        <div class="container-fluid">

        </div>
    </div>

</div>

</body>

</html>
